* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: aliceblue;
    margin: 0;
}

.title {
    font-size: 2rem;
    margin: 8px;
    padding: 24px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.main {
    flex-grow: 1;
    background-color: beige;
    position: relative;
}

.instruction h5 {
    font-size: 20px;
}

.start_button {
    position: absolute;
    margin-top: 5%;
    margin-left: 35%;
}

.start_button p {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.play_button {
    background-color: rgb(191, 188, 188);
    color: red;
    margin-left: 35%;
    padding: 16px;
    font-size: 20px;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    cursor: pointer;
}

.footer {
    background-color: aliceblue;
    margin: 0;
    padding: 16px;
}

.footer p {
    text-align: center;
    color: black;
}

@media screen and (max-width:768px ) {

    .start_button {
        position: absolute;
        margin-top: 15%;
        margin-left: 25%;
    }
    
    .start_button p {
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .play_button {
        background-color: rgb(191, 188, 188);
        color: red;
        margin-left: 35%;
        padding: 16px;
        font-size: 16px;
        border-radius: 10px;
        height: 50px;
        width: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: none;
        cursor: pointer;
    }
    
    
}

@media screen and (max-width:600px ) {
    
    .start_button {
        position: absolute;
        margin-top: 15%;
        margin-left: 15%;
    }
}